#contor-sec {
  height: 10vh;
  background-color: #39cfc8;
  font-size: 3rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  input {
    margin: 0 50px 0 10px;
  }
}
