$color1: #4c97af;
$color2: #27eac7;
$box-active: #fb9984;

@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

@import "body";
@import "control";
@import "boxes";
@import "mobile";
